body{
    background-color: black;
}
@media (max-width: 414px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Rubik', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: gray;
    }
    .bankApp{
        position: relative;
    }
    .appContainer{
        /* border: 1px solid #000; */
        height: 896px;
        width: 414px;
        background-color: #000;
        background-position: center;
        background-size: cover;
        /* border-radius: 25px; */
        position: relative;
    }
    .userIcon{
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        padding: 0.5rem;
        color: #000;
        background-color: #fff;
    }
    .welcomeGreet{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .showGreet{
        color: #fff;
    }
    .topDiv{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .notificationIcon{
       font-size: 2rem;
        color:#fff;
        position: relative;
    }
    .notificationIcon::before{
        content: "";
        height: 1rem;
        width: 1rem;
        background-color: red;
        border-radius: 50%;
        position: absolute;
    }
    .accountInfoDiv{
        padding: 1rem;
        height: fit-content;
        width: 100%;
        background-color: black;
        border: 1px solid #ffffff35;
        border-radius: 10px;
       margin: 0.5rem auto;
       display: flex;
       flex-direction: column;
       gap: 0.5rem;
    }
    .balAndIcon, .numAndIcon{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .accountBal, .accountNum{
        font-size: 1rem;
        color: #ffffffb3;
    }
    .bal{
        font-size: 1.3rem;
        color: #fff;
    }
    .num{
        font-size: 1.3rem;
        color: #fff;
    }
    .color{
        font-size: 1.5rem;
        color: #fff;   
    }
    .visibilityOffIcon, .copyIcon{
        font-size: 1.3rem;
        color: rgba(65, 65, 160, 0.855);
    }
    .transfersCol{
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        text-align: center;
        gap: 0.5rem;
       
    }
    .transIcon{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        color: #000;
    }
    .transferDiv, .CardTransDiv, .TransDiv{
       background-color: blue;
        height: 4.5rem;
        width: 6rem;
        padding-top: 1rem;
        border-radius: 10px;
    }
    .transferDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 255, 0.696);
        color: #fff;
    }
    .CardTransDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:rgba(0, 128, 0, 0.62);
        color: #fff;
    }
    .TransDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.537);
        color:#fff
    }
    .bottomNav{
        background-color: #000;
        padding: 0.5rem;
        border-radius: 10px;
        /* padding: 2rem 0.8rem 1rem -30rem; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        width: 100%;
        align-items: center;
        gap: 2rem;
        z-index: 99999;
    }
    .navLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.4rem;
        color:#ffffff91;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .navLinks:hover{
        color: #04770c;
    }
    .navLinks p {
        font-size: 0.8rem;
    }
    .checked{
        color: #008000;
        font-weight: 700;
        font-size: 1.4rem;
    }
    .transactionsDiv{
        padding: 0.5rem;
        height: 280px;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: scroll;
    }
  
    .transTop{
        border-radius: 10px;
        padding: 0.2rem;
        color:#000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99999;
    }
    .transTop p{
        font-size: 1.2rem;
        color:#000;
    }
   
    .history {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        color: #000;      
    }
    .transaction{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        color: #fff;      
    }
    /* .container{
        overflow-y: scroll;
    } */
    /* .transactionContainer{
   height: 100px;
   overflow-y: scroll;
    } */
    .tra{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .type-color-deposit{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: green;
    }
   
    .type-color-withdrawal{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: red;
    }
    ::-webkit-scrollbar{
        display: none;
      scroll-behavior: smooth;
    } 
    .creditCard{
        margin: auto;
        padding: 1rem 2rem;
        height: 200px;
        width: 400px;
        border-radius: 20px;
        background: linear-gradient(rgba(192, 209, 255, 0.279), rgba(204, 0, 255, 0.382));
        box-shadow: 0px 2px 2px 2px  rgba(204, 0, 255, 0.3);
    }
    .cc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 10%;

    }
    .radText{
        font-size: 1.5rem;
        color: #7f7676;
    }
    
    .circle1{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 1px solid rgb(208, 8, 8);
        position: absolute;
        right:20%;
        top: 10%;
    }
    .circle2{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 1px solid black;
        position: absolute;
        right: 24%;
        top: 10%;
    }
    .cardNumDiv{
        margin: 4rem 0 0 0rem;

    }
    .cardnum{
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: #7f7676;
    }
    .expDate{
        font-size: 1rem;
        color: #7f7676;
    }
    .modal {
        display: none;
        height: 550px;
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        overflow: hidden;
        background-color: yellow;
        /* border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px; */
      }
      .modalOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .modalContent {
        position: relative;
        padding: 20px;
        max-width: 1000px;
        height: 100%;
       background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      .modal-footer{
        margin: 40px 45px 0 0;
        border-top: none;
      }
      .upp p{
        color: #008000;
        margin-right: 5rem;
        margin-top: 4rem;
      }
      .upp span{
        font-size: 2rem;
      }
      .closeBtn{
        position: absolute;
        top: 0;
        left: 0;
        border: none;
     background: none; 
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
      .btn-secondary{
        background-color: green;
        width: 100%;
        margin-left: 3rem;
      }
      .form input{
        height: 3rem;
        width: 100%;
      }
      .rec p{
        margin-right: 9rem;
        color: #008000;
      }
      .rec input{
        width: 95%;
        border: 0.2px dotted #008000;
        padding: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
      }

      .recAmt{
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
      .recAmt input{
        border: 0.2px dotted #008000;
        margin-bottom: 1rem;
        padding: 0.5rem;
      }
       .desc p{
        margin-right: 8.3rem;
        color: #008000;
      } 
      .desc input{
        border: none;
        border-bottom: 1px solid#008000;
         padding: 0.5rem;
         width: 95%;
         margin-left: 1rem;
      }
      .ccHistory{
        display: block;
      }
      .datediv{
        display: flex;
        align-items: center;
        gap: 2rem;
      }
      .transDesc{
        font-size: 1.5rem;
      }
      .dandt{
        font-size: 0.8rem;
        color: #808080;
      }
      .amount{
        font-size: 1.3rem;
      }
      .transHead{
        font-size: 2rem;
        color: #fff;
        padding: 1rem;
      }
      .history .transDesc{
        font-size: 1.2rem;
      }
      .profileContainer{
        padding: 1rem;
       background-color: #ffffff;
       height: 90vh;
      
      }
      .settingDiv{
        position: relative;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

      }
      .profileBack{
        font-size: 2.5rem;
      }
    .personDiv{
        margin-top: 2rem;
    }
      .personIcon{
      font-size: 5rem;
      margin-left: 9rem;
      background-color: #000;
      color: #fff;
      }
      .profileIcon{
        font-size: 1.5rem;
      }
      .fname{
        font-size: 1.5rem;
        margin-left: 8rem;
      }
      .set{
       display: flex;
       align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
      }
    .deactivate{
        background-color: rgba(255, 0, 0, 0.805);
        height: 2.5rem;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .logOut{
        background-color: #008000d5;
        height: 2.5rem;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .deactivate:hover{
background-color: rgb(255, 0, 0);
    }
    .logOut:hover{
        background-color:  #008000;
    }
    .modal2{
        display: none;
        height: 150px;
        width: 100%;
        position: absolute;
        padding: 1rem;
        bottom: 15%;
        background-color: black;
        color: #808080;
    }
    .modal-3{
        background-color: black;
        padding: 1rem;
        height: 160px;
        width: 100%;
        position: absolute;
        bottom:15%;
        color: #808080;
        display: none;
    }
    .modal-3 input{
        border: none;
        padding: 0.2rem;
        height: 2.5rem;
        margin-bottom: 1rem;
    }
    .noBtn, .yesBtn{
        padding: 0.5rem 2rem;
        border: none;
    }
    .noBtn{
        background-color: red;
    }
    .yesBtn{
        background-color: green;
    }
    .confirmLog{
        font-size: 1rem;
    }
}
